extends layout

block content
  link(href='https://fonts.googleapis.com/css?family=Allerta Stencil', rel='stylesheet')
  h1= "Yourspace"
  h2= '- another site by Sonas MacRae -'
  hr
  
  block index
  
  div 
    h3 Update on my life
    p My little brother came to visit yesterday, sadly I had to spend the whole weekend finishing my courseworks, which sucks. He fancied milk at 3 in the morning so we went to buy milk. It was fun, we had fun, but not too much fun.
  
  div 
    h3 Nothing happened today
    p I spent today doing nothing, it was awesome, I didn't have to do anything.
    
  div 
    h3 Weekly update 2
    p Today I ordered 2 pizzas, ate both then hated myself for it, I'll most likely do it again.
  
  div 
    h3 Weekly update 1
    p I'm going to start updating all of my loyal readers with weekly updates on the super interesting events of my life. This week I 
      
  
  
