doctype html
html
  head
  ul
    li
      a.active(href='/') Home
    li
      a(href='/fetch') Post
    li
      a(href='#conta') Contact
    li
      a(href='/about') About the author

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Allerta Stencil', rel='stylesheet')
  body
    h1= "Yourspace"
    h2= '- another site by Sonas MacRae -'
    hr
    form(name='form', method='post', action='/fetch')
      input(type='text', name='userInput', placeholder='text')
      input(type='text', name='userInputTitle', placeholder='title')
      input(type='submit', value='Post')
      
